<!DOCTYPE html>
<html lang="en">
<% include blocks/head.ejs%>
<body>
<% include blocks/header.ejs%>
<div><h1>LOREM</h1></div>

<h3><%= data.email%></h3>
<h3><%= data.pass%></h3>
<h3> check :<%= data.check%></h3>

</body>
</html>