<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
        body{
            background-color: aquamarine;
            margin: 0 auto;
            text-align: center;
        }
        .form-control{
            width: 250px;
            margin: 0 auto;
        }
        .form-group{
            margin-top:2%;
        }


    </style>
</head>